:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #383838;
    --text-input-field: #dfdede;
    --hospital-green: #0077DC;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
  }

ul {
    list-style: none;  
    background-color: var(--hospital-green);
}

li { 
    background-color: var(--hospital-green);
    display: inline-block;
    margin: 10px;
    color: var(--text-input-field);
}

span { 
    color: #dfdede;    
}

.link { 
    text-decoration: none;
}
.nav-container{  
    display: flex;
    justify-content: center;
    background-color: var(--hospital-green);
}

.nav{
    width: 70vw;  
    display: flex;
    justify-content: space-between;
    background-color: var(--hospital-green);
    
}
.logo{
    display: flex;
    align-items: center;
}